[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
boto3 = "~=1.18.0"
ipywidgets = "==7.6.3"
jupyter-bokeh = "==3.0.2"
jupyterlab-git = "~=0.32.0"
jupyterlab_widgets = "==1.0.0"
matplotlib = "==3.4.2"
widgetsnbextension = "==3.5.1"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
