[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
boto3 = "==1.17.6"
notebook = ">=6.0.2"
ipywidgets = "==7.6.3"
widgetsnbextension = "==3.5.1"
jupyterlab_widgets = "==1.0.0"
jupyter-bokeh = "*"
jupyterhub = "==1.1.0"
jupyterlab = "==3.0.12"
jupyterlab-requirements = "==0.6.3"
jupyter_kernel_gateway = "==2.4.0"
jupyter-nbrequirements = "==0.7.3"
supervisor = "==4.1.0"
jupyterlmod = "==2.0.2"
matplotlib = "==3.3.4"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
